<div class="nav-bar">
  <ul class="flex justify-around">
    <li
      class="flex-1 py-2 text-center"
      routerLinkActive="active"
      routerLink="home"
    >
      <img
        src="assets/icons/navbar/home.png"
        alt=""
        class="w-12 block icon mx-auto mb-1"
      />
    </li>
    <li
      class="flex-1 py-2 text-center"
      routerLinkActive="active"
      routerLink="orders"
    >
      <img
        src="assets/icons/navbar/orders.png"
        alt=""
        class="w-10 block icon mx-auto mb-1 m-2"
      />
    </li>
    <li
      class="flex-1 py-2 text-center"
      routerLinkActive="active"
      routerLink="favorites"
    >
      <img
        src="assets/icons/navbar/favorite.png"
        alt=""
        class="w-14 block icon mx-auto mb-1"
      />
    </li>
    <li
      class="flex-1 py-2 text-center"
      routerLinkActive="active"
      routerLink="profile"
    >
      <img
        src="assets/icons/navbar/profile.png"
        alt=""
        class="w-12 block icon mx-auto mb-1"
      />
    </li>
  </ul>
</div>
