<div class="pb-10">
  <div class="app-login">
    <!-- into part  -->
    <div class="app-logo">
      <img src="assets/images/candystore.png" alt="logo" class="xsm:w-56 lg:w-96">
      <h1 class="app-tagline">Unwrap Joy with Every Order - Shop for Your Favorite Candies on <span class="app-tagline--color">candy store!</span></h1>
    </div>
    <!-- login part  -->
    <div class="app-login-card">
      <div>
        <h1>Log in</h1>
        <p>new to candy store? <a class="create-ac">create an account</a></p>
      </div>
      <ul class="flex justify-center">
        <li class="btn-comic">
          <img src="/assets/icons/google.png" alt="">
        </li>
      </ul>
      <div class="divider">OR</div>
      <div class="flex flex-col gap-4">
        <input type="text" class="app-input" placeholder="email">
        <input type="password" class="app-input" placeholder="password">
        <div class="flex justify-end">
          <p>forgot your password ?</p>
        </div>
        <cravios-button [text]="'Login'" [isIcon]="true" [iconType]="'right'" [color]="'success'"></cravios-button>
      </div>
    </div>
  </div>

  <!-- background -->
  <div class="area" >
    <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
    </ul>
  </div >

</div>
