.app-card {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 8px;

  min-width: 400px;
  min-height: 214px;

  background: #ffffff;

  border: 2px solid $dark-one;
  box-shadow: -2px 4px 0px $dark-one;
  border-radius: 24px;

  &:hover {
    @apply transition duration-200;
    box-shadow: -4px 6px 0px $dark-one;
  }

  flex: none;
  order: 0;
  flex-grow: 0;
}

.app-card-image {
  @apply border flex justify-center items-center bg-blue-200;
  border: 2px solid $dark-one;
  border-radius: 24px;
  height: 17rem;
  overflow: hidden;
}
.app-card-body {
  p {
    font-family: "Arvo", serif;
  }
}
.app-card-title {
  font-family: "Arvo", serif;
  @apply font-bold text-4xl;
}
