@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Carrois+Gothic&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Lilita+One&family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Secular+One&family=Sigmar&family=Sintony:wght@400;700&display=swap');
// font-family: 'Arvo', serif;
// font-family: 'Carrois Gothic', sans-serif;
// font-family: 'Fira Sans Condensed', sans-serif;
// font-family: 'Karla', sans-serif;
// font-family: 'Lilita One', cursive;
// font-family: 'Overpass', sans-serif;
// font-family: 'Righteous', cursive;
// font-family: 'Roboto Mono', monospace;
// font-family: 'Secular One', sans-serif;
// font-family: 'Sigmar', cursive;
// font-family: 'Sintony', sans-serif;
.app-link {
  font-family: 'Arvo', serif;
  font-weight: 300;
}
.app-title {
  font-family: 'Lilita One', cursive;
  font-size: 2rem;
  @apply mt-5;
}
