@import "src/assets/styles/library.scss";
.navbar {
  border-bottom: 2px solid #001429;
  &:hover {
    @apply transition duration-200;
    box-shadow: -2px 4px 0px #001429;
  }
}
.menu-dropdown {
  margin-top: 1.2rem;
  @apply flex xsm:flex-col lg:flex-row lg:justify-between;
}
.cart-dropdown {
  margin-top: 1.2rem;
  @apply flex xsm:flex-col lg:flex-row lg:justify-between;
}
.menu-bar {
  @apply btn btn-ghost xsm:hidden lg:flex;
}
